.fondo{
    padding: 15px;
    background-color: rgba(117, 201, 250, 0.926);
    text-align: center;
}

body {
    background-color: #EDF2F4;
    padding-top: 70px; 
}

.cabecera{
    background-color: #D90429 ;
    text-align: center;
    height: 80px;
}

.relleno{
    background-color:rgba(255, 255, 255, 0.6); 
    border-radius: 13px;
    text-align: center;
    font-size: 30px;
    padding: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

body{
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.tam_logo{
    width: auto;
    max-height: 176px;
    margin: auto;
}
