body {
    background-color: #EDF2F4;
    padding-top: 70px; 
}

.cabecera{
    background-color: #D90429;
    text-align: center;
    height: 80px;
}
.centrar{
    display: flex;
    justify-content: center;
}